/* @import '../../../styles/variables.css'; */

.root {
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
  width: 100%;
  max-width: 564px;

  @media (--tablet-large) {
    max-width: 856px;
  }

  @media (--desktop) {
    max-width: 1084px;
  }

  @media (--desktop-large) {
    max-width: 1236px;
  }
}
