import React from 'react';
import { string } from 'prop-types';
import cn from 'classnames';

import s from './{{pascalCase name}}.css';

const propTypes = {
  /** Class dropped by component's parent (BEM mixing) */
  className: string,
}

const {{pascalCase name}} = ({ className = '' }) => (
  <div className={cn(s.root, className)}>
    {/* component content */}
  </div>
);

{{pascalCase name}}.propTypes = propTypes;

export default {{pascalCase name}};
